<phpunit bootstrap="vendor/autoload.php" colors="true">
    <testsuites>
        <testsuite name="default">
            <directory>Tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory suffix=".php">./Defintion</directory>
            <directory suffix=".php">./Generator</directory>
        </whitelist>
    </filter>
</phpunit>